<center>
<link rel="stylesheet" type="text/css" href="css.css">

<img src="divider.gif"><BR>
Layouts!!!<BR>
<img src="divider.gif"><BR><BR>

Want one of these layouts?!?! cool! 
all you have to do is keep my link up! please don't take it down or your in big trouble! lol! <BR><BR>

1. save layout image to your own server and upload it! <BR><BR>

<a href="layouts.html"><u>Click here to choose a layout background!</u></a><BR><BR>

2. copy the code below and save it as style.css 
<form ACTION=URL><textarea rows="2" cols="15" style="background-color:white; font-family:verdana; color:black; border-style:solid">

<style type="text/css" media="screen">
<STYLE type="text/css">
A:active{color:#COLOR HERE;text-decoration:none;cursor: crosshair}
A:visited{color:#COLOR HERE;text-decoration:none;cursor: crosshair}
A:link{color:#COLOR HERE;text-decoration:none;cursor: crosshair}
A:hover{color:#COLOR HERE;text-decoration:bold;cursor:crosshair}

body{background-color:#COLOR HERE}
<font face="tahoma" color="#COLOR HERE" size="3">

b{font-family:tahoma;color:#COLOR HERE;font-size:9pt;font-weight:bold;letter-spacing:1pt; font-style:normal;cursor: crosshair;}

i{font-family:tahoma;color:#COLOR HERE;font-size:9pt; font-weight:normal;letter-spacing:1pt; font-style:normal}
u{font-family:tahoma;color:#COLOR HERE;font-size:9pt; font-weight:normal;letter-spacing:1pt; font-style:normal}
textarea  { color: #COLOR HERE; font-family: verdana; background: #COLOR HERE; border:1; border-color: #COLOR HERE; border-style:solid; size:9; font-size:8.5pt;} {text-align:justify}          
body,td {font-weight: normal; font-size: 9pt; font-family:verdana; color:#COLOR HERE: font-spacing:1pt; font-weight:normal; line-height:9pt;cursor: crosshair;}</STYLE>

<STYLE type="text/css">
<!--
BODY {
scrollbar-face-color:#COLOR HERE;
scrollbar-highlight-color:#COLOR HERE;
scrollbar-3dlight-color:#COLOR HERE;
scrollbar-darkshadow-color:#COLOR HERE;
scrollbar-shadow-color:#COLOR HERE;
scrollbar-arrow-color:#COLOR HERE;
scrollbar-track-color:#COLOR HERE;

font-family: tahoma; font-size: 14px; letter-spacing: 1px; color: #COLOR HERE; font-weight: normal;

}
.picborder {border:1pt solid; border-color: #COLOR HERE}


<style type="text/css">
  <!--
input { 
       color:#COLOR HERE ;
       background: #COLOR HERE;
       font-size: 9pt;
       font-weight:normal ;
       text-decoration: none;
       font-family: tahoma; 
       text-align: left;
       border-width: 1px;
       border-style: solid;
       border-color:#COLOR HERE; 
      }
-->
  </style>
 
 </textarea></form><BR>
3. copy this code and save it as index.html 
edit the capital words with your own information! 
<form ACTION=URL><textarea rows="2" cols="15" style="background-color:white; font-family:verdana; color:black; border-style:solid">

<style type="text/css" media="screen">
<img src="URL OF LAYOUT UPLOADED">

<iframe FRAMEBORDER="0" BORDER=0 width=161 
height=375 src="URL OF LEFT HERE" 
name=left style="position:absolute; left:10; top:185" scrolling=yes></iframe>

<iframe FRAMEBORDER="0" BORDER=0 width=466 
height=375 src="URL OF MAIN HERE" 
name=main style="position:absolute; left:176; top:185" scrolling=yes></iframe>

<iframe FRAMEBORDER="0" BORDER=0 width=162 
height=375 src="URL OF RIGHT HERE" 
name=right style="position:absolute; left:647; top:185" scrolling=yes></iframe>
 

 
 </textarea></form><BR>

4. after that you need to make a left.html, main.html,and right.html 
then add all of your content in those pages! 

5. use this code and put it on every page you make! 
(do not edit this code!!!!) 
<form ACTION=URL><textarea rows="2" cols="15" style="background-color:white; font-family:verdana; color:black; border-style:solid">

<style type="text/css" media="screen">
<LINK REL=stylesheet HREF="style.css" TYPE="text/css">
<center>
 </textarea></form><BR>
 


6. Yay! its all done! wow! wasnt that easy? lol. have fun with 
your new layout!!! AND REMEMBER TO KEEP MY LINK ON IT!!! :D <BR>

